<%- contentFor('HeaderCss') %>
<%-include("partials/title-meta", {"title": "Add Coupon"})%>
<!-- choices css -->
<link href="/assets/libs/choices.js/public/assets/styles/choices.min.css" rel="stylesheet" type="text/css" />
<!-- dropzone css -->
<link href="/assets/libs/dropzone/min/dropzone.min.css" rel="stylesheet" type="text/css" />

<%- contentFor('body') %>
<%-include("partials/page-title", {"pagetitle": "Ecommerce", "title": "Add coupon"})%>
<div class="row">
  <div class="col-lg-12">
    <div id="addproduct-accordion" class="custom-accordion">
      <div class="card">
        <a href="#addproduct-productinfo-collapse" class="text-dark" data-bs-toggle="collapse" aria-expanded="true" aria-controls="addproduct-productinfo-collapse">
          <div class="p-4">
            <div class="d-flex align-items-center">
              <div class="flex-shrink-0 me-3">
                <div class="avatar-sm">
                  <div class="avatar-title rounded-circle bg-primary-subtle text-primary">
                    01
                  </div>
                </div>
              </div>
              <div class="flex-grow-1 overflow-hidden">
                <h5 class="font-size-16 mb-1">Coupon Info</h5>
                <p class="text-muted text-truncate mb-0">Fill all information below</p>
              </div>
              <div class="flex-shrink-0">
                <i class="mdi mdi-chevron-up accor-down-icon font-size-24"></i>
              </div>
            </div>
          </div>
        </a>
        <div id="addproduct-productinfo-collapse" class="collapse show" data-bs-parent="#addproduct-accordion">
          <div class="p-4 border-top">
            <form action="/save_coupon" method="post" >
              <div class="mb-3">
                <label class="form-label" for="couponname">Coupon Name</label>
                <input id="couponname" name="c_name" placeholder="Enter Name" type="text" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label" for="couponexpiry">Coupon Expiry Date</label>
                <input id="couponexpiry" name="c_expiry" placeholder="Enter Price" type="date" class="form-control">
              </div>
              <div class="mb-3">
                <label class="form-label" for="couponValid">Coupon validation Time</label>
                <input id="couponValid" name="c_Validity" placeholder="Enter Time" type="number" class="form-control">
              </div>

              <div class="mb-3">
                <label class="form-label" for="coupondiscount">Discounted Price</label>
                <input id="coupondiscount" name="c_discount_price" placeholder="Enter Discounted Price" type="text" class="form-control">
              </div>
              <button class="btn btn-success small" style="width: 15%;" data-bs-toggle="modal" data-bs-target="#success-btn" type="submit"><i class=" bx bx-file me-1"></i> Save </a></button>
            </form> 
          </div>
        </div>
      </div>  
    
    </div>
 
  </div>
</div>
<!-- end row -->

<div class="row mb-4">
  <div class="col text-end">  
    <!-- <a href="#" class="btn btn-danger"> <i class="bx bx-x me-1"></i> Cancel </a> -->

    <!-- <a href="" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#success-btn"> <i class=" bx bx-file me-1"></i> Save </a> -->
  </div> <!-- end col -->
</div> <!-- end row-->
<!-- successfully modal  -->
<div id="success-btn" class="modal fade" tabindex="-1" aria-labelledby="success-btnLabel" aria-hidden="true" data-bs-scroll="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-center">
          <i class="bx bx-check-circle display-1 text-success"></i>
          <h3 class="mt-3">Coupon Added Successfully</h3>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<%- contentFor('FooterJs') %>
<!-- choices js -->
<script src="/assets/libs/choices.js/public/assets/scripts/choices.min.js"></script>

<!-- dropzone plugin -->
<script src="/assets/libs/dropzone/min/dropzone.min.js"></script>

<!-- init js -->
<script src="/assets/js/pages/ecommerce-choices.init.js"></script>